<div class="confirm-container">
  <div class="confirm-header">
    <h2 class="title">Nueva contraseña</h2>
  </div>
  <div class="alert alert-success" role="alert" *ngIf="comfirmComple">
    <i class="fas fa-check"></i>
     La contraseña ha sido cambiada correctamente. <a [routerLink]="url">Iniciar sesion</a>
  </div>
  <!-- form -->
  <form class="form" (ngSubmit)="form.valid && changePassword()" #form="ngForm" class="needs-validation" novalidate *ngIf="!comfirmComple">
    <!-- input password -->
    <div class="form-group">
      <label for="password">Contrasena</label>
      <input type="password"
      class="form-control invalid-input"
      name="password"
      ngModel [(ngModel)]="model.password"
      #password="ngModel"
      [ngClass]="{'is-invalid': form.submitted && password.invalid || password.errors?.minlength|| !passwordsisValid ,
      'is-valid': passwordsisValid && repeatpassword.valid}" minlength="6" required/>
      <div  *ngIf="form.submitted && password.errors.required" class="invalid-feedback">
        Porfavor escriba una contrasena.
      </div>
      <div *ngIf="password.invalid && password.errors?.minlength" class="invalid-feedback invalid min-password" >
        La contrasena debe contener un minimo de 6 caracteres.
      </div>
    </div>
    <!-- input repeat password -->
    <div class="form-group">
      <label for="repeat-password">Repetir contrasena</label>
      <input (focusout)="validatePasswords(password.value, repeatpassword.value)"
      type="password"
      class="form-control invalid-input"
      name="repeatpassword"
      ngModel [(ngModel)]="model.repeatpassword"
      #repeatpassword="ngModel"
      [ngClass]="{'is-invalid':form.submitted && repeatpassword.invalid || repeatpassword.errors?.minlength || !passwordsisValid,
      'is-valid': passwordsisValid && repeatpassword.valid }" required minlength="6">
      <div  *ngIf="form.submitted && repeatpassword.errors.required" class="invalid-feedback">
        Porfavor escriba una contrasena.
      </div>
      <div *ngIf="repeatpassword.invalid && repeatpassword?.errors.minlength" class="invalid-feedback invalid min-password" >
        La contrasena debe contener un minimo de 6 caracteres.
      </div>
      <div *ngIf="!passwordsisValid" class="invalid-feedback">Las contrasenas no coinciden.</div>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto">
          <button [disabled] ="!passwordsisValid" type="submit" class="btn-lg btn-block btn btn-success">Continuar</button>
      </div>
   </div>
  </form>
</div>
