<div class="confirm-container">
  <div class="confirm-header">
    <h2 class="title">Restablecer contraseña</h2>
  </div>
  <!-- alert -->
  <div class="alert alert-success" role="alert" *ngIf="comfirmComple">
    <i class="fas fa-check"></i>
    Se ha envidado un link a su correo para restablecer su contraseña, porfavor verfique su correo.
    <a [routerLink]="url"><b> Continuar</b></a>
  </div>
  <!-- form -->
  <form class="form" (ngSubmit)="form.valid && sendReset(email.value)" #form="ngForm" class="needs-validation" novalidate *ngIf="!comfirmComple">
    <p>Escribe la dirección de correo asociado a tu cuenta.</p>
    <!-- input email -->
    <div class="form-group">
      <label for="email">Email</label>
      <input pattern="^[a-z0-9._+%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
             (focusout)="validateEmail(email)"
             type="email"
             class="form-control invalid-input"
             name="email"
             ngModel [(ngModel)]="model.email" #email="ngModel"
             [ngClass]="{'is-invalid':form.submitted && email.invalid || model.email =='' || !emailValid && email.dirty,
             'is-valid': emailValid && email.valid}"  required>
      <div class="invalid-feedback" *ngIf="model.email == ''" >
        Porfavor escriba un email.
      </div>
      <div class="invalid-feedback" *ngIf="email.invalid" >
        Porfavor escriba un email valido.
      </div>
      <div *ngIf="!emailValid && email.valid" class="invalid-feedback">
        El email no existe, porfavor escribe uno valido.
      </div>
      <div *ngIf="emailValid && email.valid" class="valid-feedback">
        Email valido.
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto">
          <button [disabled] ="!emailValid" type="submit" class="btn-lg btn-block btn btn-success">Continuar</button>
      </div>
   </div>
  </form>
</div>
