<header>
  <!-- <div class="header-banner">
     <img src="assets/images/tecmmlogo.jpg" alt="logo">
  </div> -->
  <nav class="navbar navbar-expand-lg  ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbody" id="navbarNav">
      <ul class="navbar-nav">

      </ul>
    </div>
  </nav>
</header>
