@import url("https://fonts.googleapis.com/css?family=Roboto:400");
.confirm-container {
  position: relative;
  top: 150px;
  width: 550px;
  height: auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 10px 5px 5px rgba(128, 128, 128, 0.5);
  box-shadow: 10px 5px 5px rgba(128, 128, 128, 0.5);
  border-radius: 8px;
  padding: 20px 50px;
  margin: auto; }
  .confirm-container .form button {
    height: 60px;
    margin-top: 2px; }
  .confirm-container .confirm-header {
    margin-bottom: 10px; }
    .confirm-container .confirm-header .title {
      text-align: center;
      color: #d11141;
      font-weight: 500;
      font-family: "Roboto", sans-serif; }

label {
  font-family: "Roboto", sans-serif; }
