@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import 'https://fonts.googleapis.com/css?family=Raleway';
/*Background colors */
header {
  position: fixed;
  z-index: 10000;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.nav-scroll {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .nav-scroll .header-banner {
    display: none; }

.header-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 80px; }
  .header-banner img {
    width: 50%;
    height: 100%; }

.navbar {
  background-color: #EEEBEC;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 2px 10px #888;
  box-shadow: 1px 2px 10px #888;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 50px;
  width: 100%; }
  .navbar .navbar-toggler i {
    color: white; }
  .navbar .navbody {
    position: relative;
    bottom: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.navbar-nav {
  bottom: 0;
  font-family: Prime;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px; }
  .navbar-nav * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .navbar-nav a {
    color: black; }
  .navbar-nav .nav-item {
    position: relative;
    margin-left: 20px;
    list-style: outside none none;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    padding: 2px 10px;
    padding-top: 2px; }
    .navbar-nav .nav-item:hover {
      background: rgba(255, 255, 255, 0.2); }
    .navbar-nav .nav-item .nav-link {
      font-family: Raleway; }
      .navbar-nav .nav-item .nav-link::before {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 4px;
        height: 0px;
        background: #dd3333;
        content: "";
        opacity: 1;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
      .navbar-nav .nav-item .nav-link::after {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 2px;
        background: #dd3333;
        content: "";
        opacity: 1;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
      .navbar-nav .nav-item .nav-link:hover::before {
        height: 100%; }
      .navbar-nav .nav-item .nav-link:hover::after {
        opacity: 0;
        top: 100%; }
      .navbar-nav .nav-item .nav-link:hover {
        color: #dd3333;
        font-weight: 400; }

.active .nav-link {
  color: #dd3333;
  font-weight: 400;
  height: 100%; }
  .active .nav-link::after {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 4px;
    height: 0px;
    background: #dd3333;
    content: "";
    opacity: 1; }

.dropdown .dropdown-toggle {
  border: none;
  background: none; }

.dropdown .dropdown-menu {
  background-color: #EEEBEC; }
  .dropdown .dropdown-menu a {
    color: black; }
