.password-container {
  position: relative;
  width: 450px;
  padding: 20px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 10px; }

.is-valid {
  color: green; }

.is-invalid {
  border: none; }

.form-editable {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5); }
  .form-editable .edit-icon {
    position: absolute;
    top: 5px;
    right: 0;
    height: 100%;
    width: auto;
    margin-right: 15px; }

.table-container table tr {
  width: auto; }
  .table-container table tr .title {
    width: 100px; }
  .table-container table tr .is-invalid {
    color: red;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none; }
  .table-container table tr .form-control {
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 0;
    width: auto; }
    .table-container table tr .form-control:focus {
      -webkit-box-shadow: none;
      box-shadow: none; }

@media (min-width: 1200px) {
  .content {
    min-width: 800px; } }
