<!-- navbar teacher -->
<!-- <app-navteacher></app-navteacher> -->
<!-- content -->
<!-- <div class="content"> -->
  <!-- header -->
  <!-- <div class="content-head">
    <h1 class="title">Carga horaria</h1>
  </div> -->
  <!-- body -->
  <!-- <div class="content-body"> -->
    <!-- table -->
    <!-- <form  (ngSubmit)="form.valid && addSubject(form)" #form="ngForm" class="needs-validation" novalidate> -->
      <!-- {{form.value | json}} -->
      <!-- select day -->
      <!-- <div class="form-row">
        <div class="form-group col-md-auto mb-2">
          <label for="day">Dia</label>
          <select name="day" id="day" ngModel [(ngModel)]="model.day" #day="ngModel"  class="form-control"
          [ngClass]="{'is-invalid':form.submitted}" required>
          <option *ngFor="let day of days;" [value]="day">{{day}}</option>
        </select>
        <div class="invalid-feedback">
          Porfavor seleccione un dia
        </div>
      </div> -->
      <!-- select subject -->
      <!-- <div class="form-group col-md-2 mb-2">
        <label for="day">Materia</label>
        <ng-select name="nameSubject" ngModel [(ngModel)]="model.nameSubject"  #nameSubject ="ngModel" (change)="getSelectedSubject(nameSubject.value)" required>
          <ng-option *ngFor="let subject  of subjects let idx=index" [value]="idx" >{{subject.name}}</ng-option>
        </ng-select>
        <div class="invalid-feedback">
          Porfavor seleccione una materia.
        </div>
      </div> -->
      <!-- select carer -->
      <!-- <div class="form-group col-md-2 mb-2">
        <label for="day">Carreras</label>
        <ng-select name="alias" ngModel [(ngModel)]="model.alias"  #alias ="ngModel" (change)="getSelectedCarer(alias.value)" required>
          <ng-option *ngFor="let carer  of carers let idx=index" [value]="idx" >{{carer.alias}}</ng-option>
        </ng-select>
        <div class="invalid-feedback">
          Porfavor seleccione una carrera.
        </div>
      </div> -->
      <!-- select start time -->
      <!-- <div class="form-group col-md-auto mb-3">
        <label for="start_time">Hora de entrada</label>
        <select  class="form-control"
        name="startTime" ngModel
        [(ngModel)]="model.startTime"
        #startTime="ngModel"
        [ngClass]="{'is-invalid':form.submitted && startTime.invalid}" required>
        <ng-container *ngFor="let hour of hours   let i=index" >
          <option  (click)="sliceHours(i)" [value]="hour.value" >
            {{hour.hour}}
          </option>
        </ng-container>
      </select>
      <div class="invalid-feedback">
        Porfavor seleccione una hora.
      </div>
    </div> -->
    <!-- select end time -->
    <!-- <div class="form-group col-md-auto mb-3">
      <label for="end_time">Hora de salida</label>
      <select  class="form-control"   name="endTime"  ngModel [(ngModel)]="model.endTime" #endTime="ngModel" [ngClass]="{'is-invalid':form.submitted && endTime.invalid}" required>
        <ng-container *ngFor="let hour of hours | slice:etSlice; let i=idx" >
          <option [value]="hour.value" >
            {{hour.hour}}
          </option>
        </ng-container>
      </select>
      <div class="invalid-feedback">
        Porfavor seleccione una hora.
      </div>
    </div>
  </div> -->

  <!-- <div class="form-row"> -->
    <!-- select semester -->
    <!-- <div class="form-group col-md-1 mb-3">
      <label for="end_time">Semestre</label>
      <select  class="form-control"  name="semester" id="semester" ngModel [(ngModel)]="model.semester" #semester="ngModel" [ngClass]="{'is-invalid':form.submitted && semester.invalid}" required>
        <ng-container *ngFor="let semester of semesters let i=index" >
          <option [value]="semester" selected>{{semester}}</option>
        </ng-container>
      </select>
      <div class="invalid-feedback">
        Porfavor seleccione un semestre.
      </div>
    </div> -->
    <!-- textarea ojetive -->
    <!-- <div class="form-group col-md-4">
      <label for="exampleFormControlTextarea1">Objetivo</label>
      <textarea name="objetive" ngModel [(ngModel)]="model.objetive"   #objetive ="ngModel" class="form-control" rows="2" style="height:38px; resize: none;" ></textarea>
    </div> -->
    <!-- add subject button -->
    <!-- <div class="col-md-auto" style="position: relative;">
      <button  (cl)="addSubject(form)" type="submit" class="btn btn-success" style="position: relative; bottom: -30px;"><i class="fas fa-plus"></i> Agregar</button>
    </div> -->
    <!-- generate shedule button -->
    <!-- <div class="col-md-1" style="position: relative;">
      <button (click)="saveSchedule($event)"  class="btn btn-primary" style="position: relative; bottom: -30px;"><i class="fas fa-save"></i> Guardar cambios</button>
    </div>
  </div>
    </form> -->
<!-- table for create schedule -->
    <!-- <table class="table table-bordered table-striped table-sm table-editable">
      <thead class="">
        <tr>
          <th id="hhour" scope="col">Materia</th>
          <th id="hhour" scope="col">Carrera</th>
          <th  scope="col">Dia</th>
          <th scope="col">Hora de entrada</th>
          <th scope="col">Hora de salida</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody> -->
        <!-- old ac -->

        <!-- <tr *ngFor="let ac of academicload let idx=index">
          <th>{{ac.nameSubject}}</th>
          <th>{{ac.alias}}</th>
          <th scope="row">{{ac.day}}</th>
          <td>{{ac.startTime}}</td>
          <td>{{ac.endTime}}</td>
          <td>
            <div class="accions-content">
              <button class="btn btn-danger" data-toggle="modal" data-target="#modalDelete"  (click)="deleteItem(idx)"  #deleteUser><i class="fas fa-trash-alt"></i> Eliminar</button>
              <button class="btn btn-warning" data-toggle="modal" data-target="#modalDelete"  (click)="Edit(idx)"  #deleteUser><i class="fas fa-edit"></i> Editar</button>
            </div>
          </td>
        </tr> -->
        <!--new academicload -->
        <!-- <tr *ngFor="let item of schedule let idx=index">
        <th>{{item.subjectSelect}}</th>
        <th>{{item.carerSelect}}</th>
        <th scope="row">{{item.day}}</th>
        <td>{{item.startTime}}</td>
        <td>{{item.endTime}}</td>
        <td>
        <div class="accions-content">
        <button class="btn btn-danger" data-toggle="modal" data-target="#modalDelete"  (click)="deleteItem(idx)"  #deleteUser><i class="fas fa-trash-alt"></i> Eliminar</button>
      </div>
    </td>
    </tr> -->
      <!-- </tbody>
    </table>
  </div>
</div> -->
