<app-navadmin></app-navadmin>
<!-- content -->
<div class="content animated fadeIn">
  <!-- header -->
  <div class="content-header">
    <h1 class="title">Configuracion</h1>
  </div>
  <!-- body -->
  <div class="content-body">
    <!-- alerts -->
    <app-alerts [type]="type" [message]= "message" [alertVisible]="alertisVisible"  ></app-alerts>
    <!-- table -->
    <div class="table-container">
      <table class="table table-sm">
        <tbody>
          <tr>
            <th>Hora de entrada</th>
            <td *ngIf="!isEditable">{{configData.startTime}}</td>
            <td *ngIf="isEditable" class="form-editable">
              <!-- input startTime -->
              <input type="time"
              class="form-control"
              name="startTime"
              ngModel [(ngModel)]="data.startTime"
              #startTime="ngModel">
              <!-- icon editable -->
              <div class="edit-icon">
                <i *ngIf="isEditable" class="fas fa-edit"></i>
              </div>
            </td>
          </tr>
          <tr>
            <th>Hora de salidad</th>
            <td *ngIf="!isEditable">{{configData.endTime}}</td>
            <td *ngIf="isEditable" class="form-editable">
              <!-- input endTime -->
              <input type="time"
              class="form-control"
              ngModel [(ngModel)]="data.endTime"
              name="endTime"
              #endTime="ngModel">
              <!-- icon editable -->
              <div class="edit-icon">
                <i *ngIf="isEditable" class="fas fa-edit"></i>
              </div>
            </td>
          </tr>
          <tr>
            <th>Duraccion de modulos</th>
            <td *ngIf="!isEditable">{{configData.durationModule}} minutos</td>
            <td *ngIf="isEditable" class="form-editable">
              <!-- input durationModule -->
              <input type="number"
              pattern="[0-9]{2}"
              maxlength="2"
              class="form-control"
              name="durationModule"
              ngModel [(ngModel)]="data.durationModule"
              #durationModule="ngModel">
              <!-- icon editable -->
              <div class="edit-icon">
                <i *ngIf="isEditable" class="fas fa-edit"></i>
              </div>
            </td>
          </tr>
          <tr>
            <th>Inicio de receso</th>
            <td *ngIf="!isEditable">{{configData.sbreakTime}}</td>
            <td *ngIf="isEditable" class="form-editable">
              <!-- input sbreakTime -->
              <input type="time"
              class="form-control"
              maxlength="5"
              ngModel [(ngModel)]="data.sbreakTime"
              name="sbreakTime"
              #sbreakTime="ngModel">
              <!-- icon editable -->
              <div class="edit-icon">
                <i *ngIf="isEditable" class="fas fa-edit"></i>
              </div>
            </td>
          </tr>
          <tr>
            <th>Fin de receso</th>
            <td *ngIf="!isEditable">{{configData.ebreakTime}}</td>
            <td *ngIf="isEditable" class="form-editable">
              <!-- input ebreakTime -->
              <input type="time"
              class="form-control"
              maxlength="5"
              name="ebreakTime"
              ngModel [(ngModel)]="data.ebreakTime"
              #ebreakTime="ngModel">
              <!-- icon editable -->
              <div class="edit-icon">
                <i *ngIf="isEditable" class="fas fa-edit"></i>
              </div>
            </td>
          </tr>
          <tr>
            <th>Duraccion de receso</th>
            <td *ngIf="!isEditable">{{configData.durationBreak}} minutos</td>
            <td *ngIf="isEditable" class="form-editable">
              <!-- input durationBreak -->
              <input type="number"
              class="form-control"
              pattern="[0-9]{2}"
              maxlength="2"
              name="durationBreak"
              ngModel [(ngModel)]="data.durationBreak"
              #durationBreak="ngModel">
              <!-- icon editable -->
              <div class="edit-icon">
                <i *ngIf="isEditable" class="fas fa-edit"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- buttons -->
    <div class="form-row">
      <div class="col-md-auto mb-2">
          <button type="button" *ngIf="isNewconfig && isEditable" (click)="Save()" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
          <button type="button" *ngIf="isEditable && !isNewconfig" (click)="Update()" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar cambios</button>
      </div>
      <div class="col-md-auto mb-2">
          <button type="button" (click)="Edit()" class="btn btn-info"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</button>
      </div>
      <!-- change password buton -->
      <div class="col-md-auto mb-2">
          <button type="button" (click)="newConfig()" class="btn btn-warning"><i class="fa fa-key" aria-hidden="true"></i> Nueva configuraccion</button>
      </div>
    </div>
  </div>
</div>
