<!-- container -->
<div class="container-fluid">
  <!-- navbar -->
  <app-navadmin></app-navadmin>
  <!-- content -->
  <div class="content animated fadeIn">
    <!-- header -->
    <div class="content-header">
        <h1 class="title">Editar extension</h1>
    </div>
    <!-- body -->
    <div class="content-body">
      <!-- form -->
      <form  (ngSubmit)="form.valid && saveExtension(form)" #form="ngForm" class="needs-validation" novalidate>
      <div class="form-row">
        <!-- input name -->
        <div class="form-group col-md-5">
          <label for="name">Nombre</label>
          <input type="text"
                 class="form-control"
                 name="name"
                 [(ngModel)]="model.name"
                 [ngClass]="{'is-invalid':form.submitted && name.invalid || model.name == null && name.touched || !nameValid || name.invalid && name.dirty, 'is-valid': name.valid && name.dirty && nameValid }"
                 #name="ngModel"
                 (focusout)="validateName(name.value)"
                 [ngClass]="{'is-invalid':form.submitted && name.invalid}"
                 required>
          <div class="invalid-feedback" *ngIf="form.submitted && name.invalid || model.name == '' && name.dirty">
            Porfavor escriba un nombre.
          </div>
          <div class="valid-feedback" *ngIf="nameValid">
            Nombre valido.
          </div>
          <div class="invalid-feedback" *ngIf="name.invalid ">
            Nombre no valido.
          </div>
          <div *ngIf="!nameValid" class="invalid-feedback">
            Esta extension ya existe, porfavor escribe uno valido.
          </div>
        </div>
        <!-- input city -->
        <div class="form-group col-md-5">
          <label for="city">Ciudad</label>
          <input type="text"
            class="form-control"
            name="city" [(ngModel)]="model.city" #city="ngModel"
            [ngClass]="{'is-invalid':form.submitted && city.invalid || city.invalid && city.dirty}"
            required>
          <div class="invalid-feedback">
            Porfavor escriba una ciudad.
          </div>
        </div>
        <!-- input address -->
        <div class="form-group col-md-5">
          <label for="address">Direccion</label>
          <input type="text"
          class="form-control"
          name="address"
          [(ngModel)]="model.address"
          #address="ngModel"
          [ngClass]="{'is-invalid':form.submitted && address.invalid || address.invalid && address.dirty}"
          required>
          <div class="invalid-feedback">
            Porfavor escriba una direccion.
          </div>
        </div>
      </div>
        <button type="submit" class="btn btn-lg btn-primary"><i class="fas fa-save"></i> Guardar</button>
      </form>
    </div>
    <!-- alerts -->
    <!-- <app-alerts [type]="type" [message]= "message" [alertVisible]="alertVisible"  ></app-alerts> -->
  </div>
</div>
<!-- footer -->
<app-footer></app-footer>
