<!-- navbar -->
<app-navadmin></app-navadmin>
<!-- content -->
<div class="content animated fadeIn">
  <!-- header -->
  <div class="content-header">
    <h1 class="title">Editar materias</h1>
  </div>
  <!-- body -->
  <div class="content-body">
    <!-- alerts -->
    <app-alerts [type]="type" [message]= "message" [alertVisible]="alertVisible" ></app-alerts>
    <form  (ngSubmit)="form.valid && Save(form)" #form="ngForm" class="needs-validation" novalidate>
      <!-- {{subjects | json}} -->
      <div class="form-row align-items-end">
        <!-- input code -->
        <div class="form-group col-md-2">
          <label for="code">Codigo</label>
          <input
          placeholder="ACA-0907"
          maxlength="8"
          minlength="8"
          type="text"
          class="form-control"
          name="code"
          [(ngModel)]="model.code"
          #code="ngModel"
          (focusout)="validateCode(code.value)"
          [ngClass]="{'is-invalid':form.submitted && code.invalid || model.code == null && code.touched || !codeValid || code.invalid && code.dirty, 'is-valid': code.valid && code.dirty && codeValid }"
          required>
          <!-- 'is-valid': code.valid && code.dirty && codeValid, 'is-invalid':form.submitted && code.invalid || code.invalid && code.touched|| !codeValid || model.code =='' -->
          <div class="invalid-feedback" *ngIf="form.submitted && code.invalid || model.code == null && code.touched">
            Porfavor escriba un codigo.
          </div>
          <div class="valid-feedback" *ngIf="codeValid">
            Codigo valido.
          </div>
          <div class="invalid-feedback" *ngIf="code.invalid ">
            Codigo no valido.
          </div>
          <div *ngIf="!codeValid && code.valid" class="invalid-feedback">
            Este codigo ya existe, porfavor escribe uno valido.
          </div>
        </div>
        <!-- input name -->
        <div class="form-group col-md-4">
          <label for="name">Nombre</label>
          <input type="text" class="form-control" name="name" id="name" [(ngModel)]="model.name" #name="ngModel"
          [ngClass]="{'is-invalid':form.submitted && name.invalid}" maxlength="48" placeholder="Fundamentos de programacion" required>
          <div class="invalid-feedback">
            Porfavor escriba un nombre.
          </div>
        </div>
        <!-- input credits -->
        <div class="form-group col-md-1">
          <label for="alias">Creditos</label>
          <input type="number" class="form-control" name="credits" id="credits" ngModel [(ngModel)]="model.credits" #credits="ngModel"
          [ngClass]="{'is-invalid':form.submitted && credits.invalid}" maxlength="1" placeholder="5" required>
          <div class="invalid-feedback">
            Porfavor escriba el N de creditos.
          </div>
        </div>
        <div class="form-group col-md-auto">
          <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
        </div>
        <!-- Radio secuence -->

        <div class="form-group col-md-4">
          <label for="">Mostrar secuencias <span> </span></label>
          <br>
          <div class="custom-control custom-radio custom-control-inline">
            <input [disabled] ="!codeValid" type="radio" id="customRadio1" name="sequence" class="custom-control-input" value="true" (change)="showSequence(sequence.value)" ngModel #sequence="ngModel">
            <label class="custom-control-label" for="customRadio1">Si</label>
         </div>
         <div class="custom-control custom-radio custom-control-inline">
           <input type="radio" id="customRadio2" name="sequence" class="custom-control-input" value="false" (change)="showSequence(sequence.value)" ngModel #sequence="ngModel">
           <label class="custom-control-label" for="customRadio2">No</label>
         </div>
        </div>
      </div>
    </form>
      <!--  -->
      <br>
      <form (ngSubmit)="formSq.valid" #formSq="ngForm"  *ngIf="isSequence" class="needs-validation" novalidate>
        <h5 class="form-group col-12">Secuencias de la materia</h5>
        <hr>
        <div class="form-row align-items-start">
          <!-- input code -->
          <div class="form-group col-md-2">
            <label for="code">Codigo</label>
            <input type="text"
            (focusout)="validateCodeSc(codeSq.value)"
            class="form-control"
            name="codeSq"
            [(ngModel)]="subjects.code"
            #codeSq="ngModel"
            [ngClass]="{'is-invalid':formSq.submitted && codeSq.invalid && subjects.code != null  || subjects.code == '' && codeSq.dirty ||  !secodeValid ,
            'is-valid': codeSq.valid && codeSq.dirty && secodeValid }"
            maxlength="8"
            placeholder="ACF-0905"
            required>
            <div class="invalid-feedback" *ngIf="formSq.submitted && codeSq.invalid || subjects.code == null && codeSq.touched">
              Porfavor escriba un codigo.
            </div>
            <div class="valid-feedback" *ngIf="secodeValid">
              Codigo valido.
            </div>
            <div class="invalid-feedback" *ngIf="code.invalid ">
              Codigo no valido.
            </div>
            <div *ngIf="!secodeValid && codeSq.valid" class="invalid-feedback">
              Este codigo ya existe, porfavor escribe uno valido.
            </div>
          </div>
          <!-- input subject secuencie -->
          <div class="form-group col-md-4">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" name="name" id="name" [(ngModel)]="subjects.name" #name="ngModel"
            [ngClass]="{'is-invalid':form.submitted && name.invalid}" maxlength="48" placeholder="Fundamentos de programacion" required>
            <div class="invalid-feedback">
              Porfavor escriba un nombre.
            </div>
          </div>
          <!-- input credits secuencie -->
          <div class="form-group col-md-1">
            <label for="alias">Creditos</label>
            <input type="text" class="form-control" name="credits" id="credits" ngModel [(ngModel)]="subjects.credits" #credits="ngModel"
            [ngClass]="{'is-invalid':form.submitted && credits.invalid}" maxlength="1" placeholder="5" required>
            <div class="invalid-feedback">
              Porfavor escriba el N de creditos.
            </div>
          </div>
          <div class="form-group" style="position: relative;">
            <button *ngIf="!updateItems" (click)="addSubject()" type="button" name="btn-add" style="position: absolute; bottom: -70px;" class="btn btn-success">Anadir</button>
            <button *ngIf="updateItems" (click)="updateItem(idx)" type="button" name="btn-add" style="position: absolute; bottom: -70px;" class="btn btn-primary">Actualizar</button>
          </div>
        </div>
      </form>

    <!-- table for subjects with secuencie -->
    <table  class="table table-bordered table-striped table-sm table-editable" *ngIf="isSequence">
      <thead class="">
        <tr class="tb-head">
          <th scope="col">Codigo</th>
          <th scope="col">Materia</th>
          <th scope="col">Creditos</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of subjectsList let idx=index">
          <th scope="row">{{item.codeSubject}}</th>
          <td>{{item.name}}</td>
          <td>{{item.credits}}</td>
          <td>
            <div class="accions-content">
              <button class="btn btn-danger"  data-toggle="modal" data-target="#modalDelete" (click)="getId(idx)"  #delete><i class="fas fa-trash-alt"></i> Eliminar</button>
              <button class="btn btn-warning"  (click)="Edit(idx)"  #delete><i class="fas fa-trash-alt"></i> Editar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- modalal for delete accion -->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalCenterTitle">Estas seguro? <i class="fas fa-exclamation-triangle"></i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Si eliminas esta secuencia, sera borrada de la lista.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="deleteItem()"  data-dismiss="modal">Eliminar</button>
      </div>
    </div>
  </div>
</div>
