<!-- navbar -->
<app-navadmin></app-navadmin>
<!-- content -->
<div class="content animated fadeIn">
  <div class="content-header">
    <!-- header -->
    <h1 class="title">Crear usuario</h1>
  </div>
  <div class="content-body">
    <!-- alerts -->
    <app-alerts [type]="type" [message]= "message" [alertVisible]="alertisVisible"></app-alerts>
    <form  name="form" (ngSubmit)="form.valid && Save(form)" #form="ngForm" class="needs-validation" novalidate>
      <!-- {{form.value | json}} -->
      <div class="form-row">
        <!-- input name -->
        <div class="form-group col-md-6">
          <label for="name">Nombre</label>
          <input type="text"
          class="form-control"
          name="name"
          [(ngModel)]="model.name"
          #name="ngModel"
          placeholder="Juan"
          [ngClass]="{'is-invalid':form.submitted && name.invalid}" required>
          <div class="invalid-feedback">
            Porfavor escriba un nombre.
          </div>
        </div>
        <!-- input address -->
        <div class="form-group col-md-6">
          <label for="lastname">Apellido</label>
          <input type="text"
          class="form-control"
          name="lastname"
          ngModel [(ngModel)]="model.lastname"
          #lastname="ngModel"
          placeholder="Gonzalez"
            [ngClass]="{'is-invalid':form.submitted && lastname.invalid}" required>
          <div class="invalid-feedback">
               Porfavor escriba un apellido.
          </div>
        </div>
        <!-- input email -->
        <div class="form-group col-md-6">
          <label for="email">Email</label>
          <input
          pattern="^[a-z0-9._+%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          (focusout)="validateEmail(email.value)"
          type="email"
          class="form-control invalid-input"
          name="email"
          ngModel [(ngModel)]="model.email"
          #email="ngModel"
          [ngClass]="{'is-invalid':form.submitted && email.invalid || email.invalid && email.dirty || model.email =='' || !emaiisValid,
          'is-valid': emaiisValid && email.valid}"
          [email]="model.email !==''"
          placeholder="email@example.com"
          required>
          <div class="invalid-feedback" *ngIf="form.submitted || model.email ==''">
            Porfavor escriba un email.
          </div>
          <div class="valid-feedback" *ngIf="emaiisValid && email.valid"  >
            El email es valido.
          </div>
          <div *ngIf="!emaiisValid && email.valid" class="invalid-feedback">
            Este email ya existe, porfavor escribe uno valido.
          </div>
          <div *ngIf="email.errors?.email " class="invalid-feedback">Escribe un email valido.</div>
        </div>
        <!-- input user type -->
        <div class="form-group col-md-6">
          <label for="showType">Tipo de usuario </label>
          <select  class="form-control custom-select"
          name="type"
          ngModel [(ngModel)]="model.type"
          #type="ngModel"
          required>
            <option value="admin" selected="selected">Admin</option>
            <option value="normal">Normal</option>
          </select>
        </div>
        <!-- input extension -->
        <div class="form-group col-md-6">
          <label for="extension">Extencion </label>
          <select  class="form-control custom-select"
          name="extension"
          ngModel [(ngModel)]="model.extension"
          #extension="ngModel"
          required>
            <option *ngFor="let extension of extensions;" [value]="extension.idExtension">{{extension.name}}</option>
          </select>
        </div>
        <!-- genere -->
        <div class="form-group col-md-6">
          <label for="genere">Genero </label>
          <select  class="form-control custom-select"
          name="genere"
          ngModel [(ngModel)]="model.genere"
          #genere="ngModel"
          required>
            <option   value="H">Hombre</option>
            <option   value="M">Mujer</option>
          </select>
        </div>
      </div>
      <button [disabled]="!emaiisValid" type="submit" class="btn-form btn btn-lg btn-primary">
          <i class="fas fa-save"></i> Guardar
      </button>
    </form>
  </div>
</div>
