<!-- container -->
<div class="container-fluid">
  <!-- navbar admin -->
  <app-navadmin></app-navadmin>
  <!-- content -->
  <div class="content col-auto animated fadeIn">
    <!-- alerts -->
    <app-alerts [type]="type" [message]= "message" [alertVisible]="alertVisible"></app-alerts>
    <!-- subject menu -->
      <form class="options-panel">
        <div class="form-row align-items-end fr">
          <div class= "form-group col-sm-12 col-2 col-md-auto">
              <h1 class="title">Materias</h1>
          </div>
          <div class="form-group col-2 col-sm-auto col-md-auto">
            <button class="btn btn-success col-sd-2" [routerLink]="['/createsubject']">
              <i class="fas fa-plus"></i> Nueva materia
            </button>
          </div>
          <div class="form-group col-8 col-sm-5 col-md-auto search-container">
            <input class="btn-search form-control"
            type="search" placeholder="Buscar..."
            aria-label="Search"
            (keypress)="getSubjects(status.value,searchText.value,type.value)"
            #searchText>
            <button class="btn-clear" (click)="searchText.value = ''; getSubjects(status.value,searchText.value,type.value)">
             <i class="fa fa-times"></i>
           </button>
          </div>
          <div class="form-group">
            <button class="btn btn-primary my-2 my-sm-0" (click)="getSubjects(status.value,searchText.value,type.value)">
              <i class="fas fa-search"></i>
            </button>
          </div>
          <!-- show by -->
          <div class="form-group col-md-2 col-sm-4">
            <!-- <label for="showType">Mostrar por</label> -->
            <select id="showType" class="form-control custom-select"
            (change)="showBy(status.value,searchText.value,type.value)" #type>
              <option value="all" selected>Mostrar todo</option>
              <option value="0" >Secuencia</option>
              <option value="1">Sin secuencia</option>
            </select>
          </div>
          <!-- select actives/inactives -->
          <div class="form-group col-md-2 col-sm-4">
            <!-- <label for="showType">Mostrar por</label> -->
            <select id="showType" class="form-control custom-select"
            (change)="getSubjects(status.value,searchText.value,type.value)" #status>
              <option value="1" selected>Activas</option>
              <option value="0" >Inactivas</option>
            </select>
          </div>
        </div>
      </form>
      <div class="content-table">
        <!-- loader  -->
        <app-loader></app-loader>
        <!-- table subjects -->
        <div class="table-responsive-md">
          <table class="table table-hover table-sm" *ngIf="subjects.length > 0">
            <thead>
              <tr class="tb-head">
                <th scope="col">Codigo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Creditos</th>
                <th scope="col">Secuencia</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let subject of subjects | paginate: { itemsPerPage: 25, currentPage: p }; let i = index ">
                <th>{{subject.codeSubject}}</th>
                <td>{{subject.name}}</td>
                <td>{{subject.credits}}</td>
                <td>
                  <!-- show sequence  -->
                  <span *ngIf="subject.sequence == '1'" class="badge badge-primary">Si</span>
                  <span *ngIf="subject.sequence == '0'" class="badge badge-secondary">No</span>
                </td>
                <td>
                  <div class="accions-content">
                    <button class="btn btn-warning" (click)="Edit(subject.codeSubject)">
                      <i class="fas fa-pencil-alt"></i> <span> Editar</span>
                    </button>
                    <button *ngIf="subject.status == '0'"  (click)="Activate(subject)"   class="btn btn-success" >
                      <i class="fas fa-check"></i> <span> Activar</span>
                    </button>
                    <button *ngIf="subject.status == '1'" class="btn btn-danger" data-toggle="modal" data-target="#modalDelete"
                    (click)="getId(subject)" #deleteUser>
                      <i class="fas fa-trash-alt"></i> <span> Eliminar</span>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- if subjects don't exist -->
        <div class="alert alert-info" role="alert" *ngIf="subjects.length == 0 && !searchAlert">
          <i class="fas fa-info-circle"></i> No hay registros en la base de datos.
        </div>
        <div class="alert alert-info" role="alert" *ngIf="searchAlert">
          <i class="fas fa-info-circle"></i> No se encontraron resultados con el termino: <b>{{ter}}</b>
        </div>
        <!-- pagiantion settings -->
        <div class="pagination-container"   *ngIf="subjects.length > 0">
          <!-- <div class="showing">
            Mostrando <b>{{itemsPerPage}}</b> de <b>{{rowCont}}</b> materias
          </div> -->
          <pagination-controls
          class="Pagination pagination justify-content-center"
          (pageChange)="p = $event"
          previousLabel="Anterior"
          nextLabel="Siguiente"
          screenReaderPaginationLabel="Pagination">
        </pagination-controls>
        </div>
      </div>
  </div>
  <!-- modalal for delete accion -->
  <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalCenterTitle">Estas seguro? <i class="fas fa-exclamation-triangle"></i></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Si eliminas esta materia, sera dada de baja en el sistema!.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger" (click)="deleteSubject()"  data-dismiss="modal">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- footer -->
<app-footer></app-footer>
