<app-navadmin></app-navadmin>
<div class="row">
  <div class="col-sm-5">
    <div class="card">
      <h5 class="card-header">Nuevo docente</h5>
      <div class="card-body">
        <form  (ngSubmit)="form.valid && saveUser(form)" #form="ngForm" class="needs-validation" novalidate>
          <!-- {{form.value | json}} -->
          <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" name="name" id="name" [(ngModel)]="model.name" #name="ngModel"
            [ngClass]="{'is-invalid':form.submitted && name.invalid}" required>
            <div class="invalid-feedback">
              Porfavor escriba un nombre.
            </div>
          </div>
          <div class="form-group">
            <label for="lastname">Apellido</label>
            <input type="text" class="form-control" name="lastname" id="lastname" ngModel [(ngModel)]="model.lastname" #lastname="ngModel"
              [ngClass]="{'is-invalid':form.submitted && lastname.invalid}" required>
            <div class="invalid-feedback">
                 Porfavor escriba una apellido.
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email" ngModel [(ngModel)]="model.email" #email="ngModel"
              [ngClass]="{'is-invalid':form.submitted && email.invalid}"  required>
            <div class="invalid-feedback">
              Porfavor escriba un email.
            </div>
          </div>
          <div class="form-group">
            <label for="password">Contrasena</label>
            <input type="password" class="form-control" name="password" id="password" ngModel [(ngModel)]="model.password" #password="ngModel"
              [ngClass]="{'is-invalid': form.submitted && password.invalid }" required minlength="6"/>
              <div  *ngIf="form.submitted && password.errors.required" class="invalid-feedback">
                Porfavor escriba una contrasena.
              </div>
              <div *ngIf="password.invalid && password.errors.minlength" class="invalid" >La contrasena debe contener un minimo de 6 caracteres.</div>
          </div>
          <div class="form-group">
            <label for="repeat-password">Repetir contrasena</label>
            <input type="password" class="form-control" name="repeat-password" id="repeat-password" ngModel [(ngModel)]="model.repeatpassword" #repeatpassword="ngModel"
              [ngClass]="{'is-invalid':form.submitted && repeatpassword.invalid}" required minlength="6">
              <div  *ngIf="form.submitted && repeatpassword.errors.required" class="invalid-feedback">
                Porfavor escriba una contrasena.
              </div>
              <div *ngIf="repeatpassword.invalid && repeatpassword.errors.minlength" class="invalid" >La contrasena debe contener un minimo de 6 caracteres.</div>
              <div *ngIf="expression">Las contrasenas no coinciden.</div>
          </div>
          <div class="form-group">
            <label for="showType">Tipo de usuario </label>
            <select  class="form-control"  name="type" id="type" ngModel [(ngModel)]="model.type" #type="ngModel" required>
              <option value="admin" selected>Admin</option>
              <option value="normal">Normal</option>
            </select>
            <div  class="invalid-feedback">
                 Please choose a username.
            </div>
          </div>
          <div class="form-group">
            <label for="extension">Extencion </label>
            <select  class="form-control"  name="extension" id="extension" ngModel [(ngModel)]="model.extension" #extension="ngModel" required>
              <option *ngFor="let extension of extensions;"   [value]="extension.idExtension" selected>{{extension.name}}</option>

            </select>
            <div  class="invalid-feedback">
                 Please choose a username.
            </div>
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>
    </div>

  </div>
</div>
