@import url('https://fonts.googleapis.com/css?family=Roboto:400')
$font: 'Roboto', sans-serif

.navbar
  background-color: #d11141
  border-bottom: 1px solid rgba(#292929,0.4)
  box-sizing: border-box
  position: relative
  height: 50px
  color: white

.confirm-container
  position: relative
  top: 150px
  width: 550px
  height: auto
  border: 1px solid rgba(black,0.3)
  box-shadow: 10px 5px 5px rgba(gray,0.5)
  border-radius: 8px
  padding: 20px 50px
  margin: auto
  .form
    button
      height: 60px
      margin-top: 2px

  .confirm-header
    margin-bottom: 10px
    .title
      text-align: center
      color:  #d11141
      font-weight: 500
      font-family: $font
// .form-group
//   .form-control
//     background-color:  rgba(#dde4ee,0.2)
//     border-color: rgba(black,0.3)
//     &:focus
//       background-color:  white
label
  font-family: $font
